<div class="row">
    <img class="imageDim col-1" src="assets/images/dimensions.png" alt="">
    <h3 class="col-4 mt-2">Dimensions</h3>
    <div class="blocDonnee">
        <article class="texteDonnee row mt-2 ">
            <!-- Entrée -->
            <p class="col-1">Entrée</p>
            <select [(ngModel)]="Entree" (ngModelChange)="changementEntree()" class="lstBox " style="width: 95px;">
                <option>mm</option>
                <option>cm</option>
                <option>m</option>
                <option>km</option>
                <option>pouce</option>
                <option>pied</option>
                <option>verge</option>
                <option>mile</option>
            </select>

            <!-- separateur -->
            <p class="col-1"></p>

            <!-- Sortie -->
            <p class="col-1 ">Sortie</p>
            <select [(ngModel)]="Sortie" (ngModelChange)="changementSortie()" class="lstBox " style="width: 95px;">
                <option>mm</option>
                <option>cm</option>
                <option>m</option>
                <option>km</option>
                <option>pouce</option>
                <option>pied</option>
                <option>verge</option>
                <option>mile</option>
            </select>

            <!-- separateur -->
            <p class="col-1"></p>


            <!-- Dimension -->
            <p style="width: 118px;">Dimension</p>
            <select [(ngModel)]="Dimension" (ngModelChange)="changementDimension()" class="lstDimension" style="width:57px;">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>

            <!-- separateur -->
            <p class="col-1"></p>

            <!-- Précision -->
            <p style="width: 100px;">Précision</p>
            <select [(ngModel)]="Precision" (ngModelChange)="changementPrecision()" class="lstBox " style="width:57px;">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </article>
    </div>

    <!-- bloc de texte ou on entre notre donnée -->
    <hr style="border: 2px solid #556B2F;">

    <!-- Longueur -->
    <div  class="texteDonnee m-2">
        <label style="width: 120px;">Longueur :</label>
        <input [(ngModel)]="Longueur" (ngModelChange)="changementLongueur()" type="number" style="width: 200px;" value="1" name="texte">
        <label style="margin-left: 20px;">{{Entree}} = {{ResultatLongeur}} {{Sortie}}</label>
    </div>

    <!-- Largeur -->
    <div *ngIf="LargeurVisible" class="texteDonnee m-2">
        <label style="width: 120px;">Largeur :</label>
        <input [(ngModel)]="Largeur" (ngModelChange)="changementLargeur()" type="number" style="width: 200px;" value="1" name="texte">
        <label style="margin-left: 20px;">{{Entree}} = {{ResultatLargeur}} {{Sortie}}</label>
    </div>

    <!-- Profondeur -->
    <div *ngIf="ProfondeurVisible" class="texteDonnee m-2">
        <label style="width: 120px;">Profondeur :</label>
        <input [(ngModel)]="Profondeur" (ngModelChange)="changementProfondeur()" type="number" style="width: 200px;" value="1" name="texte">
        <label style="margin-left: 20px;">{{Entree}} = {{ResultatProfondeur}} {{Sortie}}</label>
    </div>
</div>